/* override browser default */
html,
body {
  margin: 0;
  padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}
#background {
  background-image: radial-gradient(#115b78, #0c3b56 75%);
  height: 100%;
}

#background::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(45deg, white 50%, transparent 50%);
}

#foregroundContainer {
  position: relative;
}

#topBar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

ul.horizontal-list {
  list-style: none;
  padding: 0;
}
ul.horizontal-list li {
  display: inline-block;
  margin-right: 16px;
}

.fa {
  display: flex !important;
  justify-content: center;
  width: 35px;
  max-height: 35px;
  align-items: center;
  padding: 15px;
  font-size: 14px !important;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.fa-linkedin {
  color: #0077b5;
  background: white;
}
.fa-linkedin:hover {
  background: #0077b5;
  color: white;
}

.fa-github {
  color: #6e5494;
  background: white;
}
.fa-github:hover {
  background: #6e5494;
  color: white;
}

.fa-envelope {
  color: #0072c6;
  background: white;
}
.fa-envelope:hover {
  background: #0072c6;
  color: white;
}

